In [161]:
import pandas as pd
import statsmodels.api as sm

from scipy.stats import norm
from statsmodels.sandbox.regression.gmm import GMM


import numpy as np

warnings.filterwarnings('ignore')

In [163]:
data = pd.read_csv("minwage.txt", sep="\t")
data.head()

   chain  own  state empft emppt nmgrs wagest empft2 emppt2 nmgrs2 wagest2
0      1    0      0    30    15     3      .    3.5     35      3     4.3
1      2    0      0   6.5   6.5     4      .      0     15      4    4.45
2      2    1      0     3     7     2      .      3      7      4       5
3      4    1      0    20    20     4      5      0     36      2    5.25
4      4    1      0     6    26     5    5.5     28      3      6    4.75

In [165]:
data = data.replace('.', np.nan).dropna()
columns_to_convert = ["empft", "nmgrs", "emppt", "empft2", "nmgrs2", "emppt2", 'wagest', 'wagest2']

for column in columns_to_convert:
    data[column] = data[column].astype(float)


data["fte"] = data["empft"]+data["nmgrs"]+0.5 * data["emppt"]
data["fte2"] = data["empft2"]+ data["nmgrs2"]+0.5*data["emppt2"]

### Problem (a)

In [167]:
diff_table = data.groupby("state")[["fte", "fte2"]].mean().reset_index()
diff_table.columns = ["state", "before", "after"]
diff_table = diff_table.sort_values(by="state", ascending=False)
diff_table["state"] = diff_table["state"].replace({1: "NJ", 0: "PA"})
diff_table["diffs"] = diff_table["after"] - diff_table["before"]

diff_row = {
    "state": "diffs",
    "before": diff_table.iloc[0]["before"] - diff_table.iloc[1]["before"],
    "after": diff_table.iloc[0]["after"] - diff_table.iloc[1]["after"],
    "diffs": diff_table.iloc[0]["diffs"] - diff_table.iloc[1]["diffs"]
}

diff_table = pd.concat([diff_table, pd.DataFrame([diff_row])], ignore_index=True)

In [169]:
diff_table

   state     before      after     diffs
0     NJ  20.678246  21.076316  0.398070
1     PA  23.704545  21.825758 -1.878788
2  diffs  -3.026300  -0.749442  2.276858

In [171]:
wage_table = data.groupby("state")[["wagest", "wagest2"]].mean().reset_index()

wage_table.columns = ["state", "before", "after"]
wage_table = wage_table.sort_values(by="state", ascending=False)
wage_table["state"] = wage_table["state"].replace({1: "NJ", 0: "PA"})
wage_table["diffs"] = wage_table["after"] - wage_table["before"]
wage_table

  state    before     after     diffs
1    NJ  4.612982  5.082140  0.469158
0    PA  4.653636  4.618788 -0.034848

### Problem (b)

In [174]:
data_before = data[['chain', 'own', 'state', 'fte']]
data_before['post'] = 0
data_after = data[['chain', 'own', 'state', 'fte2']].rename(columns={"fte2": "fte"})
data_after['post'] = 1
data_2 = pd.concat([data_before, data_after])

data_2['DiD'] = data_2['post'] * data_2['state']
data_2 = data_2.rename(columns={"state": "treat"})

In [176]:
X = data_2[['treat', 'post', 'DiD']]
X = sm.add_constant(X)  

model_did = sm.OLS(data_2['fte'], X).fit()

print(model_did.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    fte   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.995
Date:                Thu, 05 Dec 2024   Prob (F-statistic):              0.113
Time:                        14:08:35   Log-Likelihood:                -2561.8
No. Observations:                 702   AIC:                             5132.
Df Residuals:                     698   BIC:                             5150.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         23.7045      1.148     20.640      0.000      21.450      25.959
treat         -3.0263      1.275     -2.374      0.018      -5.529      -0.524
post          -1.8788      1.624     -1.157      0.248      -5.068       1.310
DiD            2.2769      1.802      1.263      0.207      -1.262       5.816
==============================================================================
Omnibus:                      217.305   Durbin-Watson:                   1.796
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              862.735
Skew:                           1.394   Prob(JB):                    4.57e-188
Kurtosis:                       7.660   Cond. No.                         11.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Problem (c)

In [179]:
data_3 = pd.get_dummies(data_2, columns=['chain'], drop_first=True)

X = data_3[['treat', 'post', 'DiD', 'own','chain_2', 'chain_3', 'chain_4']].astype('float')
X = sm.add_constant(X)  

model_did = sm.OLS(data_3['fte'], X).fit()

print(model_did.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    fte   R-squared:                       0.218
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     27.70
Date:                Thu, 05 Dec 2024   Prob (F-statistic):           1.16e-33
Time:                        14:08:38   Log-Likelihood:                -2478.3
No. Observations:                 702   AIC:                             4973.
Df Residuals:                     694   BIC:                             5009.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         26.3896      1.090     24.220      0.000      24.250      28.529
treat         -2.2788      1.138     -2.003      0.046      -4.512      -0.045
post          -1.8788      1.446     -1.299      0.194      -4.718       0.961
DiD            2.2769      1.605      1.419      0.156      -0.874       5.428
own           -1.0409      0.740     -1.406      0.160      -2.494       0.412
chain_2      -10.8691      0.874    -12.443      0.000     -12.584      -9.154
chain_3       -1.7158      0.890     -1.928      0.054      -3.463       0.032
chain_4       -1.6184      1.004     -1.611      0.108      -3.591       0.354
==============================================================================
Omnibus:                      294.887   Durbin-Watson:                   1.936
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1957.433
Skew:                           1.750   Prob(JB):                         0.00
Kurtosis:                      10.394   Cond. No.                         12.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Problem (d)

In [196]:
data['gap'] = ((5.05 - data['wagest']) / data['wagest']) * data['state'] * (data['wagest'] < 5.05)
data['fte_change'] = data['fte2'] - data['fte']

X = data[['gap']]
X = sm.add_constant(X)  
model_3 = sm.OLS(data['fte_change'] , X).fit()

print(model_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             fte_change   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     7.839
Date:                Thu, 05 Dec 2024   Prob (F-statistic):            0.00540
Time:                        14:11:14   Log-Likelihood:                -1254.9
No. Observations:                 351   AIC:                             2514.
Df Residuals:                     349   BIC:                             2522.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.4777      0.694     -2.130      0.034      -2.842      -0.113
gap           17.0516      6.090      2.800      0.005       5.074      29.030
==============================================================================
Omnibus:                       39.096   Durbin-Watson:                   2.159
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              103.228
Skew:                          -0.519   Prob(JB):                     3.84e-23
Kurtosis:                       5.445   Cond. No.                         13.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [194]:
product = data[data["state"] == 1]["gap"].mean() * model_3.params["gap"]
print('The product is: ', product)

The product is:  1.7829285215831572

### Problem (e)

In [217]:
data = pd.get_dummies(data, columns=['chain'], drop_first=True)

X = data[['gap', 'state', 'own', 'chain_2', 'chain_3', 'chain_4']].astype('float')
X = sm.add_constant(X)  

model_4 = sm.OLS(data['fte_change'] , X).fit()
print(model_4.summary())

# latex_code = model_3.summary().as_latex()
# print(latex_code)

                            OLS Regression Results
==============================================================================
Dep. Variable:             fte_change   R-squared:                       0.030
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     1.797
Date:                Thu, 05 Dec 2024   Prob (F-statistic):             0.0988
Time:                        14:22:33   Log-Likelihood:                -1253.4
No. Observations:                 351   AIC:                             2521.
Df Residuals:                     344   BIC:                             2548.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.6635      1.211     -1.374      0.170      -4.045       0.718
gap           14.0069      7.433      1.884      0.060      -0.613      28.627
state          0.8294      1.420      0.584      0.560      -1.963       3.622
own            0.5100      1.097      0.465      0.642      -1.648       2.668
chain_2        0.3288      1.293      0.254      0.799      -2.214       2.872
chain_3       -1.8083      1.325     -1.365      0.173      -4.414       0.797
chain_4       -0.2377      1.511     -0.157      0.875      -3.209       2.734
==============================================================================
Omnibus:                       40.356   Durbin-Watson:                   2.161
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              107.283
Skew:                          -0.535   Prob(JB):                     5.06e-24
Kurtosis:                       5.488   Cond. No.                         22.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.